<div class="square">

</div>

<p>
  <%= link_to 'Signin with Google', "http://lunch.netprotections.com:3000/auth/google_oauth2" %>
  <%= link_to 'Signout', "http://lunch.netprotections.com:3000/signout" %>
</p>