<%= stylesheet_link_tag "errors", :media => "all" %>

<body>
<div id="main">
  <!-- This file lives in public/500.html -->
  <div class="error">
    <h1>システムエラーが発生しました</h1>
    <p>佐藤までご連絡ください。</p>
  </div>
</div>
</body>
