<%= stylesheet_link_tag "errors", :media => "all" %>
<%= stylesheet_link_tag "questions", :media => "all" %>

<body>
<div id="main">
  <!-- This file lives in public/500.html -->
  <div class="error">
    <h1>システムエラーが発生しました</h1>
    <p>下記フォームより、佐藤までご連絡いただけると助かります。</p>
  </div>
</div>
</body>
