html {
  height: 100%;
}

body {
  width: 100%;
  color: #2E2F30;
  text-align: center;
  margin: 0;
  background-image: image-url("tileable_wood_texture.png") repeat;
  background-size: initial;
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

  #main {
    height: 100%;
    background-size: cover;

    .error {
      margin: 25% 0 0 0;

      h1 {
        font-size: 500%;
        color: #fff;
        margin: 0;
        text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.6);
      }

      p {
        font-size: 100%;
        color: #FFFFFF;
      }

    }

  }
}



