body {
  height: 100%;
  width: 100%;
  margin: auto;
  background: image-url("restaurant_open.JPG") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

  input {
    font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  }
}

.square {
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 0 50px 0;
  padding: 0 0 10% 0;
  height: 300px; /* 可変にしたい */
  width: 50%;
  border-radius: 5%;

  .question_title {
    p {
      font-size: 28px;
    }
  }

  #signin {
    margin: 25%;
  }
  img {
    width: 300px;
  }
}

.square p {
  color: #faf0e6;
}

.answer {
  padding: 20px;

  #ans1_left, #ans2_left, #ans3_left {
    float: left;
    width: 120px;
    height: 120px;

    input {
      border-radius: 50%;
      width: 180px;
      height: 180px;
      background: -moz-linear-gradient(left top 315deg, #FFAB00, #FFD740);
      background: -webkit-gradient(linear, left top, right bottom, from(#FFAB00), to(#FFD740));
      padding: 20px 20px;
      margin: 0 0 0 10%;
      box-shadow: 0px 3px 2px #000;
      border-radius: 50%;
      //    border: 2px solid #b15d28;
    }

    input:hover {
      position:relative;
      top:2px;
      left:2px;
    }

  }

  #ans1_right, #ans2_right, #ans3_right {
    float: right;
    width: 120px;
    height: 120px;

    input {
      border-radius: 50%;
      width: 180px;
      height: 180px;
      background: -moz-linear-gradient(left top 315deg, #AEEA00, #EEFF41);
      background: -webkit-gradient(linear, left top, right bottom, from(#AEEA00), to(#EEFF41));
      padding: 20px 20px;
      margin: 0 10% 0 0;
      box-shadow: 0px 3px 2px #000;
      border-radius: 50%;
      //    border: 2px solid #165C23;
    }

    input:hover {
      position:relative;
      top:2px;
      left:2px;
    }
  }

  input {
    height: 120px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    color: #faf0e6;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

#ans_block1 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 10% 10% 0 10%;
}

#ans_block2 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 10% 10% 0 10%;
  visibility: hidden;
}

#ans_block3 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 10% 10% 0 10%;
  visibility: hidden;
}
