body {
  height: 100%;
  /*width: 100%;*/
  background: url(restaurant.JPG) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.square {
  position: relative;
  text-align: center;
  background-color: black;
  margin: 0 auto;
  height: 400px;
  width: 800px;
  opacity: 0.7; /* 透過 */
}

.square p {
  color: snow;
}


.answer {
  text-align: center;
}

#ans1_1, #ans2_1, #ans3_1 {
  float: left;
  width: 60px;
  height: 38px;
  background: #BBBBBB;
  border: 1px solid #DDD;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  color: #111;
  padding: 42px 20px 20px;
}

#ans1_2, #ans2_2, #ans3_2 {
  float: left;
  width: 60px;
  height: 38px;
  background: #BBBBBB;
  border: 1px solid #DDD;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  color: #111;
  padding: 42px 20px 20px;
}

#ans_block1 {
  position: absolute;
}

#ans_block2 {
  position: absolute;
  visibility: hidden;
}

#ans_block3 {
  position: absolute;
  visibility: hidden;
}
