<!DOCTYPE html>
<html>
<head>
  <title>チカメのレコメ</title>
  <%= favicon_link_tag 'favicon.PNG' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
