<!DOCTYPE html>
<html>
<head>
  <title>N9L - NP Quick Lunch</title>
  <%= favicon_link_tag 'fav.png' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
